.node_history
.idea
.cache
.project
.tmproj
.settings
.DS_STORE
.netbeans
.tmp
*.gz
*.log
*.out
*.pid
*.seed
*#
*~
bower_components
config/local.js
debug.log
dump.rdb
lib-cov
nbproject
node_modules
npm-debug.log
public
static/output
Thumbs.db
tmp

# All WP-core related
wp-admin/
wp-includes/
uploads
wp-content/uploads
/index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# WP Cache, WP backup, etc.
wp-content/backup
wp-content/cache
